/* button{
    font-size: 64px;
    color: purple;
} */

/* CHAPTER 2 */

body{
    font-size: 22px;
}

h1,h2{
    color: blue;
    
}

 p{
   color:gold ; 
} 

.gray{
    color: blueviolet;
}
span{
    text-transform: capitalize;
    color: rgb(0, 255, 106);
}