:root {
    --SQUARE-BGCOLOR: papayawhip;
    --SQUARE_SIZE: max(150px, 20vw);
    --FS-XL: 3rem;


    --DARK-COLOR: #0000;

    --PADDING: 0.5em;
    --BORDERS: 2px solid var(--DARK-COLOR);
    --SHADOWS: 0 6px 5px -5px var(var(--DARK-COLOR)) 
 }

 @media (prefers-color-scheme: dark) {
    :root {
        --BGCOLOR: #0000;
        --ALTBGCOLOR: #333;
        --RADIAL-COLOR: rgb(217, 217, 217);
        --SQUARE-BGCOLOR: rgb(202,174, 202);
    }
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex-grow: 1;

    /* padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: row wrap;
    flex-flow: row wrap;
    gap: min(4vw, 15px); */
     
}

.square {
    background-color: var(--SQUARE-BGCOLOR);
    width: var(--SQUARE_SIZE);
    height: var(--SQUARE_SIZE);
    border: var(--BORDERS);
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-size: var(--FS-XL);
    box-shadow: var(--SHADOWS);
}